.scrolling{
    height: calc(100vh - 240px);
    overflow-y: auto;
    overflow-x: hidden;
}
.pagination ::ng-deep .ngx-pagination .current{
    background-color: rgb(4, 111, 141);
}

table>tbody>tr>td{
    white-space: nowrap !important;
    font-size: 14px;
    text-align: center;
}

table>thead>tr>th{
    font-weight: 500;
    /* white-space: nowrap; */
    font-size: 15px;
}

.table_section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.btnIcon{
    padding-right: 1px;
    padding-top: 3px;
    border-radius: 5px;
}
