.scrolling{
    height: calc(100vh - 208px);
    overflow-y: auto;
    overflow-x: hidden;
}
.scrolling1{
    height: calc(100vh - 170px);
    overflow-y: auto;
    overflow-x: hidden;
}
.scrollClone{
    height: calc(100vh - 350px);
    overflow-y: auto;
    overflow-x: hidden;
}
.scrollCordyInbox{
    height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
}
hr{
margin-top: 30px;
opacity: 1 !important;
border-bottom: 3px solid rgb(0, 59, 90);
}
sup{
    top: 0px;
    /* left: 1px; */
    /* bottom: 45px; */
    font-size: 22px;
    color: red;
}
.popup-close{
    color:white;
    background-color: rgb(1, 64, 82);
    border: none;
}
.opacityforform{
    opacity: 0.5;
    background: rgb(221, 221, 221);
    /* overflow-y: hidden !important; */
}
.modal-body>table>tbody>tr>td{
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}
.px4{
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}
.docBtnUpload{
    background: rgb(0, 59, 90);
    color: white;
    width: 210px;
    cursor: pointer;
    text-align: center;
    padding-bottom: 3px;
}
.width200{
    width:210px;
}
.docNameSize{
    /* margin-top:5px; */
    font-size: 14px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.justifyCenter{
    display: flex;
    justify-content: space-between;
}
.btnIcon{
    padding-right: 0px;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.docBtnIcon{
    padding-right: 7px;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 7px;
}
.docBtnIcon i{
    font-size: 19px;
}
.border2px{
    border: 2px solid red;;
}
.sup1{
    top: 3px;
    font-size: 18px;
    color: red;
}
.header-text {
  text-align: left;
  margin-top: 2px;
}

.header-button {
  text-align: right;
  border: none;
}
.pBtnDis{
	pointer-events: none;
	background-color: rgb(65 100 118) !important;
	cursor: none !important;
}
.tdRemarks{
    max-width: 21vw !important;
    white-space: normal !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    word-break: break-all;
  }
.border2{
    border: 2px solid red !important;
}
.thead{
    background-color: #edf2f5;
    color: black;
    caret-color: transparent;
}
.anTable>tbody>tr>td{
    vertical-align: middle;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 37px;
    word-break: break-all; 
}
.bold{
    font-weight: bold !important;
}
.borderRed1{
    border-left: 2px solid red !important;
    border-right: 1px solid red !important;
    border-bottom: 1px solid red !important;
    border-top: 2px solid red !important;
}