.scrolling{
    height: calc(100vh - 240px);
    overflow-y: auto;
    overflow-x: hidden;
}
table>tbody>tr>td{
    /* white-space: nowrap !important; */
    word-break: break-all !important;
    vertical-align: middle;
}

table>thead>th{
    font-weight: 500;
    font-size: 15px;
}